@use '~@styles/index.sass' as styles

.header
    .nav-link
        text-decoration: none
        color: styles.$primary-content


    .download-btn-wrapper
        display: block
        text-decoration: none
        border: none
        border-radius: 15px
        background: styles.$gradient
        font-size: styles.$small-medium
        padding: 1px

        .download-btn
            border-radius: 15px
            background: #000
            padding: 5.5px 29px

            .download-btn-inner
                color: transparent
                -webkit-text-fill-color: transparent
                background: styles.$gradient
                -webkit-background-clip: text
