@use '~@styles/index.sass' as styles

.projects-element
    &__main-info
        display: flex
        align-items: center

    &__icon
        border-radius: 10px
        width: 64px
        height: 64px

    &__content
        margin-left: 13px

    &__name
        font-weight: styles.$bold
        font-size: styles.$large

    &__stats
        color: styles.$tertiary-content
        font-size: styles.$small
