@use 'index'

*
    scroll-behavior: smooth
    box-sizing: border-box
    padding: 0
    margin: 0

body
    font-family: 'Inter', sans-serif
    color: index.$primary-text
    background-color: index.$page-fill
