// Fonts

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap')


// Colors

// page
$page-fill: #000000

// primary
$primary-fill: #101010
$primary-fill-gradient: linear-gradient(180deg, #191919 0%, #000000 100%)
$primary-stroke: #161616
$primary-text: #e2e2e2

// secondary
$secondary-fill: #101010
$secondary-stroke: #202020
$secondary-text: #797979

// tertiary
$tertiary-text: #4b4b4b
