@use '~@styles/index.sass' as styles

.project__label-blocks
    display: flex

    @media (max-width: 700px)
        flex-direction: column

.project__label-block
    width: 50%
    border-radius: 15px
    background: styles.$primary-gradient
    padding: 23px 35px

    @media (max-width: 700px)
        width: 100%
        padding: 15px 23px

    @media (max-width: 600px)
        background: transparent
        padding: 0

    &--left
        margin-right: 20px

        @media (max-width: 700px)
            margin-right: 0

    &--right
        margin-left: 20px

        @media (max-width: 700px)
            margin-top: 44px
            margin-left: 0

.project-label-block
    &__title
        font-weight: styles.$bold
        font-size: styles.$medium-large

    &__content
        margin-top: 26px

    &__element
        display: flex
        align-items: center

        &:nth-child(n+2)
            margin-top: 13.5px

.project-label-block-element
    &__icon
        width: 20px
        height: 20px

    &__name
        color: styles.$secondary-content
        font-size: styles.$small-medium
        margin-left: 15px
