@use '~@styles/index.sass' as styles

.resume
    display: flex

    @media (max-width: 650px)
        flex-direction: column

    &__portrait
        object-fit: cover
        border-radius: 15px
        width: 402px
        height: 402px

        @media (max-width: 1350px)
            width: 350px
            height: 350px

        @media (max-width: 1150px)
            width: 300px
            height: 300px

        @media (max-width: 1050px)
            width: 250px
            height: 250px

        @media (max-width: 400px)
            width: 100%
            height: auto


    &__about
        flex-grow: 1
        background: styles.$primary-gradient
        border-radius: 15px
        padding: 42px 54px
        margin-left: 33px

        @media (max-width: 1050px)
            padding: 32px 32px
            margin-left: 16px

        @media (max-width: 650px)
            background: none
            padding: 0
            margin-top: 42px
            margin-left: 0

.about__name
    font-size: styles.$extra-extra-large
    font-weight: styles.$bold

    @media (max-width: 280px)
        word-break: break-all