@use '~@styles/index.sass' as styles

.timeline
    .timeline-block
        display: flex
        transition: background 0.2s ease-out
        border-radius: 15px

        &__left
            font-weight: styles.$bold
            line-height: styles.$medium

        &__right
            margin-left: 5px

            > div:nth-child(n+2)
                margin-top: 7px

            .years
                font-weight: styles.$bold

            .text
                color: styles.$secondary-content

                a
                    color: styles.$secondary-content
                    font-weight: styles.$semi-bold
                    font-style: italic

    .timeline-block:nth-child(n+2)
        margin-top: 43px
