.main--about-me
    padding: 84px 74px

    @media (max-width: 1150px)
        padding: 52px 32px

    @media (max-width: 600px)
        padding: 42px 15px

    &__block:nth-child(n+2)
        margin-top: 84px

        @media (max-width: 1150px)
            margin-top: 52px

        @media (max-width: 650px)
            margin-top: 42px
