@use '~@styles/index.sass' as styles

header
    .nav-link
        text-decoration: none
        color: styles.$primary-content


    .download-btn
        color: styles.$primary-content
        border: 1px solid styles.$primary-content
        border-radius: 15px
        background: transparent
        font-size: styles.$small-medium
        padding: 6px 31px

.resume
    display: flex
    padding: 84px 74px 0

    .portrait
        object-fit: cover
        border-radius: 15px
        width: 402px
        height: 402px

    .content
        background: styles.$primary-gradient
        border-radius: 15px
        width: 100%
        padding: 42px 54px
        margin-left: 33px

        .name
            font-size: styles.$extra-large
            font-weight: styles.$bold

        .info
            color: styles.$secondary-content
            display: flex
            align-items: center
            margin-top: 7px

            .job
                font-weight: styles.$bold
                font-size: styles.$small-medium

            .location
                display: flex
                align-items: center
                font-size: styles.$small
                margin-left: 10px

                .icon
                    height: styles.$small - 1px
                    margin-right: 3px

        .contact-links
            display: flex
            margin-top: 15.5px

            .contact-link
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid styles.$secondary-stroke
                border-radius: 100px
                background: styles.$secondary-fill
                transition: ease-out 0.2s
                width: 24.5px
                height: 24.5px

                .icon, .icon path
                    fill: styles.$tertiary-content
                    transition: ease-out 0.2s
                    width: 10px
                    height: 10px

            .contact-link:hover
                background: styles.$secondary-stroke

                .icon, .icon path
                    fill: styles.$primary-content

            .contact-link:nth-child(n+2)
                margin-left: 10.5px

        .tech-blocks
            font-size: styles.$medium-large
            margin-top: 40px

            .tech-block .highlight
                font-weight: styles.$semi-bold

            .tech-block--1 .highlight
                color: styles.$purple

            .tech-block--2 .highlight
                color: styles.$green

            .tech-block--3 .highlight
                color: styles.$yellow

            .tech-block--4 .highlight
                color: styles.$red

            .tech-block--none .highlight
                color: styles.$secondary-content
